@model (Parameters Parameters, bool? Conforms)
@{
    ViewBag.Title = "TITLE";
    ViewBag.Description = "DESCRIPTION";
}

<details class="container" open="@(Model.Conforms is null ? string.Empty : null)">
    <summary>Form</summary>
    <h1>TITLE</h1>
    <p class="lead">LEAD</p>
    <partial name="Form" model="Model.Parameters" />
</details>

@if (Model.Conforms != null)
{
    <section id="report" class="container">
        <h1>TITLE</h1>
        <p class="lead">LEAD</p>
        <dl typeof="sh:ValidationReport" prefix="sh: http://www.w3.org/ns/shacl# xsd: http://www.w3.org/2001/XMLSchema#" lang="">
            <dt>Conforms</dt>
            <dd property="sh:conforms" datatype="xsd:boolean">@Model.Conforms</dd>
        </dl>
    </section>
}
