@model (Parameters Parameters, Report Report)
@{
    ViewBag.Title = "TITLE";
    ViewBag.Description = "DESCRIPTION";
}

<details class="container" open="@(Model.Report is null ? string.Empty : null)">
    <summary>Form</summary>
    <h1>TITLE</h1>
    <p class="lead">LEAD</p>
    <partial name="Form" model="Model.Parameters" />
</details>

@if (Model.Report != null)
{
    <section id="report" class="container">
        <h1>TITLE</h1>
        <p class="lead">LEAD</p>
        <partial name="Report" model="Model.Report" />
    </section>
}
