@model (Parameters Parameters, Report Report)
@{
    ViewBag.Title = "dotNetRDF SHACL validation";
}

<details class="container" open>
    <summary>Form</summary>
    <h1>@ViewBag.Title</h1>
    <form asp-fragment="report" asp-antiforgery="false" method="post" class="clearfix">
        <partial name="Form" model="Model.Parameters" />
        <div class="float-right">
            <button class="btn btn-primary">Validate</button>
            <button asp-route-format="ttl" class="btn btn-secondary">Validate raw (Turtle)</button>
        </div>
    </form>
</details>

@if (Model.Report is not null)
{
    ViewBag.Title = "dotNetRDF SHACL validation result";
    <section id="report" class="container">
        <h1>Validation report</h1>
        <partial name="Report" model="Model.Report" />
    </section>
}
