@page
@{
    ViewBag.Title = "TITLE";
    ViewBag.Description = "DESCRIPTION";
}

<div class="container">
    <h1>TITLE</h1>
    <p class="lead">LEAD</p>
    <a asp-page="validate">VALIDATE</a>
    <details open>
        <summary>EXAMPLES</summary>
        <ul>
            @{
                var paths = new[] { "core/complex/personexample", "core/misc/message-001" };
                var formats = new[] { "html", "ttl", "rj" };
                foreach (var path in paths)
                {
                    foreach (var format in formats)
                    {
                        var u = Url.AbsoluteContent($"~/test-suite/{path}.ttl");

                        <li>
                            <a asp-controller="Validate" asp-action="Default" asp-route-DataGraphUri="@u" asp-route-ShapesGraphUri="@u" asp-route-format="@format">@path (@format)</a>
                        </li>
                    }
                }
            }
        </ul>
    </details>
</div>