@page
@{
    ViewBag.Title = "TITLE";
    ViewBag.Description = "DESCRIPTION";
}

<div class="container">
    <h1>TITLE</h1>
    <p class="lead">LEAD</p>
    <a asp-page="validate">VALIDATE</a>
    <details open>
        <summary>EXAMPLES</summary>
        <ul>
            <li>
                <a asp-controller="Validate" asp-action="ValidationReport" asp-route-DataGraphUri="@Url.AbsoluteContent("~/test-suite/core/complex/personexample.ttl")" asp-route-ShapesGraphUri="@Url.AbsoluteContent("~/test-suite/core/complex/personexample.ttl")">personexample report</a>
            </li>
            <li>
                <a asp-controller="Validate" asp-action="ValidateRaw" asp-route-DataGraphUri="@Url.AbsoluteContent("~/test-suite/core/complex/personexample.ttl")" asp-route-ShapesGraphUri="@Url.AbsoluteContent("~/test-suite/core/complex/personexample.ttl")">personexample raw</a>
            </li>
        </ul>
    </details>
</div>