@model Parameters
@{ 
    ViewBag.Title = "TITLE";
    ViewBag.Description = "DESCRIPTION";
}

<div class="container">
    <h1>TITLE</h1>
    <p class="lead">LEAD</p>
    <form asp-action="ValidationReport" asp-antiforgery="false">
        <div class="form-group">
            <label asp-for="DataGraphUri"></label>
            <input asp-for="DataGraphUri" class="form-control" aria-describedby="dataUriDescription" />
            <small id="dataUriDescription" class="form-text text-muted">Data graph URI takes precedence over data graph RDF.</small>
        </div>
        <div class="form-group">
            <label asp-for="DataGraphRdf"></label>
            <textarea asp-for="DataGraphRdf" class="form-control" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="ShapesGraphUri"></label>
            <input asp-for="ShapesGraphUri" class="form-control" aria-describedby="shapesUriDescription" />
            <small id="shapesUriDescription" class="form-text text-muted">Shapes graph URI takes precedence over shapes graph RDF.</small>
        </div>
        <div class="form-group">
            <label asp-for="ShapesGraphRdf"></label>
            <textarea asp-for="ShapesGraphRdf" class="form-control" rows="10"></textarea>
        </div>
        <div class="float-right">
            <button class="btn btn-primary">Validate</button>
            <button asp-action="ValidateRaw" class="btn btn-secondary">Validate raw</button>
        </div>
    </form>
</div>
