@model Report
@{
    ViewBag.Title = "TITLE";
    ViewBag.Description = "DESCRIPTION";
}

<div class="container">
    <h1>TITLE</h1>
    <p class="lead">LEAD</p>

    <dl typeof="sh:ValidationReport" prefix="sh: http://www.w3.org/ns/shacl# xsd: http://www.w3.org/2001/XMLSchema#" lang="">
        <dt>Conforms</dt>
        <dd property="sh:conforms" datatype="xsd:boolean">@Model.Conforms</dd>
        @if (Model.Results.Any())
        {
            <dt>Results</dt>
            <dd>
                <ul class="list-group list-group-flush">
                    @foreach (var result in Model.Results)
                    {
                        <li class="list-group-item" property="sh:result" typeof="sh:ValidationResult">
                            <dl>
                                <dt>Focus node</dt>
                                <dd>
                                    <vc:node node="result.FocusNode" property="sh:focueNode" />
                                </dd>
                                @if (result.Path != null)
                                {
                                    <dt>Path</dt>
                                    <dd>
                                        <vc:path node="result.Path" />
                                    </dd>
                                }
                                @if (result.Value != null)
                                {
                                    <dt>Value</dt>
                                    <dd>
                                        <vc:node node="result.Value" property="sh:value" />
                                    </dd>
                                }
                                <dt>Shape</dt>
                                <dd>
                                    <vc:node node="result.Shape" property="sh:sourceShape" />
                                </dd>
                                <dt>Source constraint component</dt>
                                <dd>
                                    <vc:node node="result.SourceConstraintComponent" property="sh:sourceConstraintComponent" />
                                </dd>
                                <dt>Severity</dt>
                                <dd>
                                    <vc:node node="result.Severity" property="sh:resultSeverity" />
                                </dd>
                                @if (result.Message != null)
                                {
                                    <dt>Value</dt>
                                    <dd>
                                        <vc:node node="result.Message" property="sh:resultMessage" />
                                    </dd>
                                }
                            </dl>
                        </li>
                    }
                </ul>
            </dd>
        }
    </dl>
</div>
